In [1]:
import pandas as pd
data = pd.read_excel("Indian_districts.xlsx")
data.head()

   For Update List Visit:             Unnamed: 1       Unnamed: 2
0  www.askbankifsccode.com                   NaN              NaN
1                    State              District       State Type
2          Andaman Nicobar               Nicobar  Union Territory
3          Andaman Nicobar  North Middle Andaman  Union Territory
4          Andaman Nicobar         South Andaman  Union Territory